.logo{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons{
    width: 50vw;
    display: flex;
    justify-content: space-between;
}
.buttons button {
    width: 150px;
    height: 60px;
    background-color: darkred;
    border: aqua;
    font-size: 35px;
    color: white;
    border-radius: 10px;
}
span{
    font-size: 62px;
    font-weight: 700;
    text-align: center;
}